altgraph==0.17.5
blinker==1.9.0
click==8.3.1
Flask==3.1.2
flask-cors==6.0.2
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
macholib==1.16.4
MarkupSafe==3.0.3
packaging==25.0
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.11
setuptools==80.9.0
Werkzeug==3.1.4
